html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightskyblue;
}


.currentCity {
    padding: 2em;
    border-radius: .5em;
    background-color: white;
    max-width: 25em;
    margin-bottom: 1em;
}


.forecastWrapper {
    background-color: white;
    border-radius: .5em;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.forecast p {
    text-align: center;
}

footer {
    background-color: white;
}
